.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 0 2px;
  min-width: 12px;
  text-align: center;
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 15px;
  height: 15px;
  font: 15px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 15px;
  height: 15px;
  font: 15px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

div.qty {
  text-align: right !important;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

/*Prevent text selection*/
.qty span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.qty input {
  border: 0;
  width: 2%;
}

.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty input:disabled {
  background-color: white;
}

span.item-name {
  font: 13px/1 Arial, sans-serif;
}

span.item-price {
  font: 13px/1 Arial, sans-serif;
}

.item-img {
  padding-top: 0.2rem;
  margin-left: 0.5rem;
}

#body-list-item {
  position: relative;
  height: 450px;
  overflow: auto;
}

.card-footer {
  max-height: 100px;
  height: 100px;
}

#cart-item {
  position: relative;
  height: 300px;
  overflow: auto;
}

div.card .card-item-title {
  margin-bottom: 0.5rem;
}

div.card .card-item-image {
  padding:0px;
}

div.card .card-item-body {
  padding: 0.2rem;
}